
@{
    ViewBag.PageTitle = "Bảng điều khiển";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section breadcrumb {
    <li class="breadcrumb-item active" aria-current="page">Products</li>
}
<h2>Chào mừng Admin!</h2>
<p>Bạn đã đăng nhập thành công 🚀</p>


